* {
    margin: 0;
    padding: 0;
}
nav{
    float: right;
}
nav li { 
    list-style:none;
    float:left;
    padding: 30px 40px;
    margin-right: 200px;
}

nav a {
    text-decoration: none;
}

nav li:hover {
    font-size: 15px;
    font-weight: 10px;
    background-color: rgb(21, 19, 19);

}

.header-right {
    float: left;
    font-size: 30px;
    padding: 20px;
    color:rgb(141, 141, 30);
    
}

body{
    background-image: url(https://i.pinimg.com/474x/d3/9f/ca/d39fcae9dc1caba7c5795ee4db8b2313.jpg);
    background-size: cover;
    width: 100%;
    height: 1200px;

}

header {
    /* background-color: rgb(219, 45, 219); */
    width: 100%;
    height: 80px;
    color: rgb(237, 87, 87);
    background: transparent;
}

.tentang h1{
    margin-top: 10px;
    padding-left: 200px;
    letter-spacing: 1px;
    color: #c9bb1b;
}

.tentang h2{
    width: 40px;
    height: 50px;
    padding-left:200px;
    color: rgb(0, 17, 255);
}

.tentang h3 {
    color: rgb(234, 241, 234);
    text-align: center;
    margin-top: 1px;
    margin-left:100px;
    
}

.tentang p{
    text-align: center;
    margin-left: 80px;
    color: rgb(253, 250, 255);
    margin-left: 100px;
    
}
.top-wrapper {
    width: auto;
    display: flex;
    padding-left: 5px;
    margin-right: 10%;

}

.img-profile {
    border-radius: 100%;
    width: 200px;
    padding-top: 20px;

}

.profile {
    padding-left: 500px; 
    padding-top: 90px;
    letter-spacing: 3px;
    position: absolute;
    width: auto;
    margin-top: -80px;
    /* color: #f0eff0; */
}

.text-footer {
    padding-top: 50px;
    color: rgb(183, 38, 38);
    text-align: center;

}

.header-right span {
    color: #cb59cb;
    font-size: 15px;
}

.profile h1 {
    /* margin: 10px; */
    color: #cdc415;
}

.profile h2 {
    /* margin-right: 20px; */
    color: rgb(103, 103, 198);
}

.profile p {
    /* margin-right: 20px; */
    color: rgb(103, 103, 1985);
}

.contact {
    margin-top: 20px;
    padding-left: 500px; 
}

.button {
    float: left;
    margin-top: 150px;
}

button {
    padding: 10px 50px;
    border-radius: 30px;
    margin-left: 5px;
    border: none;
}

button:hover{
    box-shadow: 0 0 10px #d50e67;
    transition: 0.3s;
    color: rgb(231, 21, 234);
    background-color: rgb(230, 43, 240);

}

/* .instagram {
    padding-left: 250px;
    display: flex;
    padding-top: 175px;
} */

/*  responsive untuk android */
@media screen and(max-width:680px) {
    .button {
        justify-content: center;
    }
}
    .profile{
        width: 100%;
        margin-bottom: 20px ;
    }

    main .top-wrapper {
        display: block;
    }